.c-content-box {
  padding: 1.5rem 0 2rem;
}
.c-content-box__subheadline--with-button {
  display: inline;
  margin-right: 70px;
}
@media screen and (min-width: 64rem) {
  .c-content-box {
    max-width: 46rem;
    margin: 0 auto;
  }
}
